
/*--------- Font ------------*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
.pricing-table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 30%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
/*    border: 1px solid red;*/
}
/*Shared properties*/
.dpk-front-title,.dpk-front-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
    margin-bottom: 1px;
}
.dpk-front-content{
    position: relative;
    color: #FFF;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.dpk-front-content:after, .dpk-front-content:before,.dpk-front-footer:before,.dpk-front-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dpk-front-footer:after,.dpk-front-footer:before{
    top:0;
}
.dpk-front-content:after,.dpk-front-footer:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.dpk-front-kota{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.dpk-front-kota span{    
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.dpk-front-media{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:25px;
    font-size: 0.9rem;
}
.dpk-front-media li{
    padding:15px 0;
    width: 100%;
}
.dpk-front-media li span{
   padding-right: 0.4rem; 
}
.dpk-front-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
    width: 100%;
}
/*PERSONAL*/
.personal .dpk-front-title{        
    background: #78CFBF;    
}
.personal .dpk-front-content,.personal .dpk-front-footer{
    background: #82DACA;
}
.personal .dpk-front-content:after{	
	border-top-color: #82DACA;	
}
.personal .dpk-front-footer:after{
    border-top-color: #FFFFFF;
}
